# Virtual env
/env
venv/
.venv/
ENV/
.env

__pycache__/
*.py[cod]
*$py.class
*.so


dist/
build/
*.egg-info/
.ipynb_checkpoints
*.ipynb

.env.*

.DS_Store
.idea/
.vscode/


.cache/
.pytest_cache/

# R files
.RData
.Rhistory
.Rapp.history
*.Rproj
.Rproj.user/

